<%= form_for(@post_with_collection) do |f| %>
  <% if @post_with_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_with_collection.errors.count, "error") %> prohibited this post_with_collection from being saved:</h2>

      <ul>
      <% @post_with_collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.uploadcare_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
