<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post_with_collection.title %>
</p>

<p>
  <strong>File:</strong>
  <%= @post_with_collection.file %>
</p>

<%= link_to 'Edit', edit_post_with_collection_path(@post_with_collection) %> |
<%= link_to 'Back', post_with_collections_path %>
