<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= include_uploadcare_widget_from_cdn %>
  <%= uploadcare_settings %>
</head>
<body>

<%= yield %>

</body>
</html>
