<%= form_for(@posts_with_collection_and_file) do |f| %>
  <% if @posts_with_collection_and_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posts_with_collection_and_file.errors.count, "error") %> prohibited this posts_with_collection_and_file from being saved:</h2>

      <ul>
      <% @posts_with_collection_and_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :file %><br>
    <%= f.uploadcare_field :file, {uploadcare: {multiple: false}, data: {multiple: true}} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
